<!DOCTYPE html>
<html ng-app="MeetingRoomInterface">
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link href="//cdnjs.cloudflare.com/ajax/libs/normalize/3.0.2/normalize.css" rel='stylesheet' type='text/css'/>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link href='http://fonts.googleapis.com/css?family=Roboto:100,300,400,500' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="style.css"/>
    <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
    <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.14/angular.js"></script>
    <script src="app.module.js"></script>
    <script src="room.controller.js"></script>
</head>
<body ng-controller="RoomCtrl">
    <div class="log-in" ng-if="!emailAddressesSubmitted()">
        <p>Enter the Email addresses of the rooms below and press enter:</p>
        <form ng-submit="submitEmailAddresses()">
            <input type="text" ng-repeat="room in meetingRooms" ng-model="room.email">
            <input ng-hide="true" type="submit" value="Submit"/>
        </form>
    </div>

    <div ng-if="emailAddressesSubmitted()" class="meeting-rooms">
        <div class="center-display">
            <span id="time-display">
                {{timeNow}}
            </span>
            <img id="lobby-layout" src="lobby.png"/>
        </div>
        <div class="room" ng-repeat="room in meetingRooms" ng-class="setStatusClass(room.status, $index)">
            <span class="meeting-room-name">
                {{room.name}}
            </span>
            <span class="status">
                <span class="error-message">{{room.errorMessage}}</span>
                <span class="subject" ng-show="room.booked">Booked by <span>{{room.organizer}}</span></span>
                {{room.statusMessage}}
                <i class="fa fa-check icon" ng-show="room.status === 'Free'"></i>
                <i class="fa fa-ban icon" ng-show="room.status === 'Busy'"></i>
                <i class="fa fa-question icon" ng-show="room.status === null"></i>
            </span>
        </div>
    </div>
</body>
</html>