<!DOCTYPE html>
<html ng-app="MeetingRoomInterface">
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link href="//cdnjs.cloudflare.com/ajax/libs/normalize/3.0.2/normalize.css" rel='stylesheet' type='text/css'/>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link href='http://fonts.googleapis.com/css?family=Roboto:300,400,500' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="style.css"/>
    <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
    <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.14/angular.js"></script>
    <script src="app.module.js"></script>
    <script src="room.controller.js"></script>
</head>
<body>

    <div class="room-grid" ng-controller="RoomCtrl">
        <div class="room-grid-top">
            <div class="room">
                <span class="meeting-room-name">
                    {{meetingRooms[0].name}}
                    <span class="subject">{{meetingRooms[0].subject}}</span>
                </span>
                <span class="status">
                    {{meetingRooms[0].statusMessage}}
                    <i class="fa fa-ban busy" ng-show="meetingRooms[0].status === 'Busy'"></i>
                    <i class="fa fa-check-circle-o free" ng-hide="meetingRooms[0].status === 'Busy'"></i>
                </span>
            </div>

            <div class="center-display">

            </div>

            <div class="room">
                <span class="meeting-room-name">
                    {{meetingRooms[1].name}}
                    <span class="subject">{{meetingRooms[1].subject}}</span>
                </span>
                <span class="status">
                    {{meetingRooms[1].statusMessage}}
                    <i class="fa fa-ban busy" ng-show="meetingRooms[1].status === 'Busy'"></i>
                    <i class="fa fa-check-circle-o free" ng-hide="meetingRooms[1].status === 'Busy'"></i>
                </span>
            </div>
        </div>

        <div class="room-grid-bottom">
            <div class="room" ng-repeat="room in meetingRooms" ng-if="$index === 2 || $index === 3">
                <span class="meeting-room-name">
                    {{room.name}}
                    <span class="subject">{{room.subject}}</span>
                </span>
                <span class="status">
                    {{room.statusMessage}}
                    <i class="fa fa-ban busy" ng-show="room.status === 'Busy'"></i>
                    <i class="fa fa-check-circle-o free" ng-hide="room.status === 'Busy'"></i>
                </span>
            </div>
        </div>

    </div>

</body>
</html>