* {
    box-sizing: border-box;
}

.center-display {
    flex-grow: 1;
    min-width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#logo {
    height: auto;
    width: 500px;
}

#time-display {
    font-size: 100px;
    font-family: Roboto;
    font-weight: 300;
}

.room-grid {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    position: absolute;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.room-grid-top {
    display: flex;
    flex-grow: 1;
    max-height: 50%;
}

.room-grid-bottom {
    display:flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    flex-grow: 1;
}

.room-grid-top > .room {
    width: 30%;
}

.room {
    display:flex;
    flex-direction: column;
    flex-grow: 1;
    background-color: rgb(1, 84, 225);
    opacity: 0.8;
    color: white;
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 20px;
    border: black solid 1px;
    margin: 20px;
}

.free {
    padding-top: 30px;
    font-size: 120px;
    align-self: center;
}

.busy-room {
    background-color: #c60000;
    opacity: .7;
}

.busy {
    padding-top: 30px;
    font-size: 120px;
    align-self: center;
}
.status {
    font-size: 50px;
    align-self: center;
    display: flex;
    flex-direction: column-reverse;
}

.subject {
    margin-top: 20px;
    font-weight: 300;
    font-size: 25px;
    align-self: center;
}

.meeting-room-name{
    font-size: 30px;
    padding: 10px;
}