* {
    box-sizing: border-box;
}

.center-display {
    flex-grow: 1;
    min-width: 40%;
    display: flex;
    justify-content: center;
}

#time-display {
    font-size: 100px;
    font-family: Roboto;
    font-weight: 300;
}

.room-grid {
    /*display: flex;*/
    /*flex-direction: row;*/
    /*height: 100vh;*/
    /*flex-wrap: wrap;*/
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    position: absolute;
    display: flex;
    flex-direction: column;
}

.room-grid-top {
    display: flex;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 40px;
    padding-bottom: 20px;
    flex-grow: 1;
    max-height: 50%;
}

.room-grid-bottom {
    display:flex;
    flex-direction: row-reverse;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 20px;
    padding-bottom: 40px;
    justify-content: space-between;
    flex-grow: 1;
}

.room-grid-top > .room {
    min-width: 20%;
    max-width: 30%;
}

.room-grid-bottom > .room {
    max-width: 49%;
}
.room {
    display:flex;
    flex-direction: column;
    /*justify-content: center;*/
    /*align-items: center;*/
    /*min-width: 50%;*/
    /*max-width: 50%;*/
    flex-grow: 1;
    background-color: rgba(1, 87, 211, 0.75);
    color: white;
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 20px;
    border: black solid 1px;
}

.free {
    padding-top: 30px;
    color: green;
    font-size: 120px;
    align-self: center;
}

.busy {
    padding-top: 30px;

    color: red;
    font-size: 100px;
    align-self: center;
}
.status {
    font-size: 80px;
    padding: 50px;
    align-self: center;
    display: flex;
    flex-direction: column;
}

.subject {
    font-weight: 400;
    padding-left: 60px;
}

.meeting-room-name{
    font-size: 30px;
    padding: 10px;
}